@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansoryRegular.woff2') format('woff2'),
       url('/fonts/MansoryRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Custom CSS to hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

